<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" href="/images/cuted_back.png">

    <%= stylesheet_link_tag 'ucuteme_common', :media => "screen, projection" %>
    <% if in_fbml? %>
      <%= stylesheet_link_tag 'ucuteme_fbml', :media => "screen, projection" %>
    <% else %>
      <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
      <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
      <!--[if lt IE 8]>
        <%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
      <![endif]--> 

      <%= stylesheet_link_tag 'ucuteme', :media => "screen, projection" %>
    <% end %>

    <link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>

    <script src="http://www.google.com/jsapi"></script> 
    <script> 
      google.load("jquery", "1.4.2");
    </script> 
    <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>

    <title>ucuteme</title>
  </head>

  <body>
    <%= render :partial => "shared/google_analytics" %>

    <div class="container">
      <%= yield :layout %>  
    </div>

    <div id="footer">
      &copy; 2010 ucuteme. All rights reserved.
    </div>

    <%= render :partial => "shared/facebook" %>
  </body>
</html>
